# Ignore macOS metadata
.DS_Store

# Ignore macOS metadata
__pycache__/
cache/

# Ignore writeup files and plots generated as pdfs
*.docx
*.pdf
*.xlsx
*.csv

# Ignore these specific files


# these data files are optional bc the geoparse package can load them in


# output files I don't need to push to git
