# Ignore macOS metadata
.DS_Store

# Ignore macOS metadata
__pycache__/
cache/

# Ignore writeup files and plots generated as pdfs
*.docx
*.pdf
*.xlsx
*.csv

# Ignore data files that are too big to push to git
/module_12/gbm_data/*